# Data Science Tools and Ecosystem

## Author
Ayman Afardi

In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples

 
Some of the popular languages that Data Scientists use are:
1. R
2. python
3. SQL
4. Java

Some of the commonly used Python libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Kiras
4. Matplotlib
5. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335